.movie-list-card {
  position: relative;
  margin: 1vw 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 2;
}

.list-section-margin {
  margin-top: 90px;
}

.movie-list-section {
  margin-top: 100px;
}